:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
img {
    display: block;/* this to make the image center*/
    margin-left: auto;
    margin-right: auto;
    size-adjust: 100%;/* this to make the image fit the screen*/
    width: 70%;
    border-radius: 15px; /* this to make round shape on the corner*/
    }
img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}/* this to make the image bigger when hover on it*/
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fully-booked-day {
  background: #e60505 !important; /* Red for fully booked */
  color: #fff !important;
}
.available-day {
  background: #01db34 !important; /* Green for available */
  color: #fff !important;
}
.past-day {
  background: #b0b0b0 !important;
  color: #fff !important;
}
.badge {
  transition: background 0.3s, color 0.3s;
}
.slot-status-dot {
  transition: background 0.3s;
}